doctype html
html
  head
    title Astramaya | Social Media Listeing Tools
    link(rel="stylesheet" href="main.css")
    
  body
   include ../../component/header/header
   include ../../component/hero/hero
   include ../../component/profile/profile
   include ../../component/client/client
   include ../../component/contact/contact
   include ../../component/footer/footer

    block scripting
          script(src="main.bundle.js")