doctype html
html
  head
    title Astramaya | Perangkat Analisa Sosial Media
    link(rel="stylesheet" href="main_ina.css")
    
  body
   include ../../component/header/header_ina
   include ../../component/hero/hero_ina
   include ../../component/profile/profile_ina
   include ../../component/client/client_ina
   include ../../component/contact/contact_ina
   include ../../component/footer/footer

    block scripting
          script(src="main_ina.bundle.js")