#client.steps.landing__section
    .container
      h2 Our Client
      p Here's who we can think of, but surely creative people will surprise us.
    .container
      .steps__inner
        .step
          .step__media
            img.step__image(src='./src/asset/dpr-1.png')
        .step
          .step__media
            img.step__image(src='./src/asset/kemenkeu-1.png')
        .step
          .step__media
            img.step__image(src='./src/asset/bumn-1.png')
        .step
          .step__media
            img.step__image(src='./src/asset/kostrad-1.png')
        .step
          .step__media
            img.step__image(src='./src/asset/kemhan-1.png')
        .step
          .step__media
            img.step__image(src='./src/asset/ipc-1.png')
        .step
          .step__media
            img.step__image(src='./src/asset/inalum-1.png')