.footer.footer--dark
    .container
      .footer__inner
        img(src='./src/asset/logo.svg', width='150', height='120')
        .footer__data
          .footer__data__item
            br
            br
            .footer__row
              b PT. Astrabuana Sendhang Pranawa
            .footer__row
              | 18 Office Park 22 Floor Suite E, F, G. TB Simatupang Kav. 18 
              br
              | Jakarta Selatan. 12520 - Telp. +62 (21) 2200-7050
          .footer__data__item
            .footer__row
              | Help 
              a.footer__link(href='#', target='_blank') Application
            .footer__row
              | Career 
              a.footer__link(href='#', target='_blank') With
              |  Us
          .footer__data__item
            .footer__row
              a.footer__link(href='#', target='_blank') Download Company Profile
            .footer__row
              a.footer__link(href='#') MIT license