#profile.steps.landing__section
    .container
        h2 Ada yang bisa saya lakukan?
        p Inilah yang bisa kita pikirkan, tetapi pasti orang-orang kreatif akan tertarik dengan ini.
#tools-analytics
    .expanded.landing__section
        .container
            .expanded__inner
                .expanded__media
                    img.expanded__image(src='./src/asset/undraw_browser.svg')
                .expanded__content
                    h2.expanded__title Akses Data
                    p.expanded__text
                        | Menyediakan dasbor dashboard data web diakses untuk melihat gerakan media. Seperti liputan media, twitter, berita online, dekat realtime dengan menggunakan sistem kontainer (berbasis kontainer)
    .expanded.landing__section
        .container
            .expanded__inner
                .expanded__media
                    img.expanded__image(src='./src/asset/analytics.svg')
                .expanded__content
                    h2.expanded__title Analisis
                    p.expanded__text
                        | Analis handal yang dapat mengoptimalkan kegunaan dasbor diperlukan untuk memastikan akurasi data dengan tujuan pemantauan media. Memberikan talenta yang berpengalaman, cakupan layanan analitis dasar meliputi: Data pelatihan, laporan analisis & Pengumuman
    .expanded.landing__section
        .container
            .expanded__inner
                .expanded__media
                    img.expanded__image(src='./src/asset/together.svg')
                .expanded__content
                    h2.expanded__title Strategi Krisis
                    p.expanded__text
                        | Layanan analisis lanjutan untuk kebutuhan yang lebih strategis dan taktis. Analisis untuk fase: Studi awal pengembangan strategi, evaluasi hasil pencapaian kampanye, pemetaan figur / akun media sosial strategis semua yang terkait dengan media massa / media sosial. Penentuan isi kampanye yang akan dilakukan bersama dengan prediksi respons. Penentuan indikator keberhasilan kampanye di media massa / media sosial
    .expanded.landing__section
        .container
            .expanded__inner
                .expanded__media
                    img.expanded__image(src='./src/asset/undraw_creation.svg')
                .expanded__content
                    h2.expanded__title Pelatihan
                    p.expanded__text
                        | Menyediakan berbagai pelatihan seputar analisis media. Pelatihan yang ditawarkan; pelatihan dalam penggunaan dasbor web, pelatihan dasar dalam percakapan dan analisis berita, bersama dengan pelatihan analisis tingkat lanjut