#profile.steps.landing__section
    .container
        h2 Anything I can do?
        p Here's who we can think of, but surely creative people will surprise us.
#tools-analytics
    .expanded.landing__section
        .container
            .expanded__inner
                .expanded__media
                    img.expanded__image(src='./src/asset/undraw_browser.svg')
                .expanded__content
                    h2.expanded__title Data Access
                    p.expanded__text
                        | Provides accessable web data dashboard dashboard to see media movement. Like media coverage, twitter, online news, near realtime by using container system (container based)
    .expanded.landing__section
        .container
            .expanded__inner
                .expanded__media
                    img.expanded__image(src='./src/asset/analytics.svg')
                .expanded__content
                    h2.expanded__title Analytics
                    p.expanded__text
                        | Reliable analysts who can optimize the usefulness of the dashboard are needed to ensure data accuracy with the aim of media monitoring. Providing experienced talent, basic analytics service coverage include: Training data, analysis reports & Alerting
    .expanded.landing__section
        .container
            .expanded__inner
                .expanded__media
                    img.expanded__image(src='./src/asset/together.svg')
                .expanded__content
                    h2.expanded__title Crisis Strategy
                    p.expanded__text
                        | Advanced analysis service for more strategic and tactical needs. Analysis for phases: Preliminary study of strategy development, evaluation of results of campaign achievements, mapping of strategic social media figures / accounts all related to mass media / social media. Determination of the content of the campaign to be carried out along with response predictions. Determination of indicators of campaign success on mass media / social media
    .expanded.landing__section
        .container
            .expanded__inner
                .expanded__media
                    img.expanded__image(src='./src/asset/undraw_creation.svg')
                .expanded__content
                    h2.expanded__title Training
                    p.expanded__text
                        | Provides various training around media analysis. Training offered; training in the use of web dashboards, basic training in conversation and news analysis, along with advanced analysis training